# macOS
.DS_Store
__MACOSX/

# Xcode
DerivedData/
xcuserdata/
*.xcuserdatad
*.xcscmblueprint

# SwiftPM
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Sensitive configs
*.xcconfig
GoogleService-Info.plist

